.descr-stats-container{
    clear: both;
    display: block;
    overflow: hidden;
    margin-top:30px;
    padding:15px;
}
form{

}
.timespan_buttons {
    clear: both;
}
.timespan_buttons Button {
    float: left;
}
.dropdown_accm, .dropdown_feature{
    width: 50%;
    float:left;
    padding:10px !important;
    box-sizing: border-box !important;
}
.add_tile_button{
    margin:20px;
}
